body {
    background-color: white;
    padding: 10px 80px;
  }

header {
  margin: 10px 0px 10px 0px;
  padding: 10px 10px;
  z-index: 10;
}


.logo {
  margin-right: auto;
}

.logo svg {
  height: 100px;
  width: 100px;
}

.logoPath {
  fill: url(#lgrad);
}

.logo span {
  font-family: Tenso;
}

.splash-container {
  position: relative;
}

.splash {
  position: absolute;
}

nav.navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex;
    align-items: center;
}


nav.navigation ul li {
    font-size: 15px;
    padding: 10px 15px;
    list-style: none;

}
 
nav.navigation ul li a:hover {
     color: rgb(85, 85, 85);
     transition: all .3s ease;
}

nav.navigation ul li a {
  color: black;
}

ul.branches li {
    font-size: 30px;
    border-bottom: 1px solid #444;
    padding: 10px 5px;
    background-color: white;
    list-style: none;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul.branches li a:hover {
    color: blue;
    transition: all .3s ease;
}

.row-title {
  background-color: pink;
}
  
.mission-container {
  background-color: white;
  padding: 30px;
  text-align: center;
}

.content h2 {
  font-family: Tenso;
  color:rgb(245,20,92);
}


.content {
    padding: 10px 30px;
}


footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

 footer > div {
   margin: 10px;
   
 }

.insta.linked.facebook a:hover {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  color: rgb(245,20,92);
  transition: all .3s ease;
}

/* Dropdown Button in Nav Bar */

.navigation a:hover, .dropdown:hover .dropbtn {
  /* background-color: lightpink; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/*  ------------------------------------- */
/*        styles for Role Model          */



.carousel-item {
  height: 500px;
}


.row img {
  max-width: 100%;
}

.balken {
  background-color:rgb(128,42,244);
  margin-top: 50px;
}

.balken h1 {
  text-align: center;
  font-size: 50px;
}




/*  ------------------------------------- */
/*        styles for Contact Form        */


.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #fa0bb2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #a1074f;
}

textarea {
    height: 150px;
}


input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
}